:root {
    --pink: #f76aa7;
    --dark-text: #5b3a4a;
}

.signup-box {
    width: 100%;
    max-width: 380px;
}

.signup-title {
    color: var(--dark-text);
    font-weight: 700;
    letter-spacing: 1px;
}

.custom-input {
    background-color: #e5e5e5;
    border: none;
    border-radius: 30px;
    padding: 12px 20px;
}

.custom-input:focus {
    box-shadow: none;
}

.social-circle {
    width: 42px;
    height: 42px;
    background-color: #ddd;
    border-radius: 50%;
}

.btn-next {
    background-color: var(--pink);
    color: white;
    border-radius: 30px;
    padding: 10px 35px;
    font-weight: 600;
    border: none;
}

.btn-next:hover {
    background-color: #f55398;
}

.welcome-section {
    background-color: var(--pink);
    transition: 0.4s ease;
}

.disabled-section {
    opacity: 0.45;
    pointer-events: none;
}

.active-section {
    opacity: 1;
    pointer-events: auto;
}

.username-input {
    background-color: #9f9f9f;
    border: none;
    border-radius: 30px;
    padding: 12px 20px;
    color: #fff;
}

.username-input::placeholder {
    color: #eaeaea;
}

.username-input:focus {
    box-shadow: none;
}

.btn-signup {
    border: 2px solid #d3b5c2;
    color: #d3b5c2;
    border-radius: 30px;
    padding: 10px 40px;
    font-weight: 600;
    background: transparent;
}

.btn-signup:hover {
    background-color: #fff;
    color: var(--pink);
}