<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Login | StayHealthy</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>

<div class="container-fluid vh-100">
    <div class="row h-100">

        <!-- KIRI -->
        <div class="col-md-6 d-flex align-items-center justify-content-center bg-white">
            <div class="login-box text-center">
                <h2 class="mb-4 login-title">LOG IN</h2>

                <form>
                    <input type="email" class="form-control custom-input mb-3" placeholder="Email" required>
                    <input type="password" class="form-control custom-input mb-4" placeholder="Password" required>

                    <button type="submit" class="btn btn-login" href="#">Log In</button>
                </form>
            </div>
        </div>

        <!-- KANAN -->
        <div class="col-md-6 d-flex align-items-center justify-content-center welcome-section">
            <div class="text-center text-white">
                <h1 class="fw-bold mb-3">SELAMAT DATANG<br>DI STAYHEALTHY</h1>
                <p class="mb-4">Daftarkan diri anda dan lakukan deteksi dini <br> Cerebral Palsy secara cepat dan mudah</p>
                <a href="/templates/signup.html" class="btn btn-signup">Sign up</a>
            </div>
        </div>

    </div>
</div>

</body>
</html>
